extends layout
block content
    .w3-container
        .w3-card-4
            .w3-card-4
                table.w3-table-all
                    tr
                        th Identificador
                        th Província
                        th Local
                        th Músico
                        th Arquivo
                        th Obs
                        th Operações
                        tr
                            td= arq.id
                            td= arq.prov
                            td= arq.local
                            td= arq.musico
                            td= JSON.stringify(arq.file)
                            td= JSON.stringify(arq.obs)
                            td
                                button.w3-button.w3-circle.w3-light-grey(onclick="apagaItem('" + arq.id  + "')") Apagar
                                button.w3-button.w3-circle.w3-light-grey(onclick="update_('" + arq.id  + "')") Atualizar
            footer.w3-container.w3-teal
                address Gerado por Gestao de Arqueosítios App